nav {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: var(--primary-color);
  color: var(--text-light);

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;

    a {
      text-decoration: none;
      color: var(--text-light);
      opacity: 0.6;
      transition: ease-in all 200ms;
      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }
}

main {
  margin-top: 1.25rem;
}

quick-card-body {
  label {
    color: var(--gray-500);
    text-transform: uppercase;
    font-weight: 500;
  }
}

.rating-label{
  font-weight: 600;
  color: var(--accent-color);
}

.rating{
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--primary-color);
}

.rating-title{
  font-weight: 600;
  font-size: 1.2rem;
}