.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-row{
    display: flex;
    flex-direction: row;
} 

.flex-column{
    display: flex;
    flex-direction: column;
} 

.row-gap-1{
    row-gap: .5rem !important;
}

.column-gap-1{
    column-gap: .5rem;
}

.main-center{
    justify-content: center;
}

.cross-center{
    align-items: center;
}

.stretch{
    width: 100%;
}